* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

nav {
     width: 100vw;
     height: 15vh;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: row;
     background-color: black;

}

.nav-logo {
     width: 30%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.nav-logo img {

     width: 13vw;
}

.navbar {

     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: row;
     width: 60%;
     height: 100%;
     display: flex;
     align-items: center;
     padding-right: 10vw;
     list-style: none;
     font-weight: 600;
     font-size: 1.2vw;
}

.navbar a {
     color: white;
     text-decoration: none;
     text-transform: uppercase;

}

.navbar a:hover {
     color: rgb(103, 103, 235);
}

/* hero-section */
.hero-section {
     width: 100vw;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 4vw;
}

.hero-section h1 {
     height: 2vw;
     padding-bottom: 5.2vw;
     margin-bottom: 4vw;
     font-size: 4vw;
     border-left: 0.5vw solid brown;
     border-right: 0.5vw solid brown;

}

.hero-section-iframe {

     width: 100vw;
     height: 70vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;

}

.hero-section-iframe iframe {
     width: 30vw;
     height: 35vh;
     padding: 5px;
}


.hero-section-iframe :hover {

     filter: brightness(1.4);

}

/* popular-tractors */

.popular-tractors-container {
     width: 100vw;
     height: auto;
     padding: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}


.popular-tractors-container h1 {
     height: 1.5vw;
     padding-bottom: 5.2vw;
     margin-bottom: 4vw;
     font-size: 3.7vw;
     border-left: 0.5vw solid brown;
     border-right: 0.5vw solid brown;

}

.popular-tractor {
     width: 98%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.ptractors {
     width: 28vw;
     height: 30vw;
     display: flex;
     justify-content: center;
     border: 1px solid rgb(212, 202, 202);
     border-radius: 2px;
     margin: 5px;
}
.ptractors6 img{
     width: 71%;

}

.ptractors img {
     width: 74%;
}

.ptractors a {
     color: rgb(49, 44, 44);
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-size: 1.8vw;
}

.ptractors:hover {

     transform: scale(96.5%);
     box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.76);
     -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.76);
     -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.76);

}


/* Tractors-by-brand */

.tractors-by-brand-container {
     width: 100vw;
     height: auto;
     padding: 50px 15px 30px 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}


.tractors-by-brand-container h1 {
     height: 1.5vw;
     padding-bottom: 5.2vw;
     margin-bottom: 4vw;
     font-size: 3.7vw;
     border-left: 0.5vw solid brown;
     border-right: 0.5vw solid brown;

}

.tractors-by-brand {
     width: 98%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.btractors {
     width: 25vw;
     height: 210px;
     display: flex;
     justify-content: center;
     border: 1px solid rgb(212, 202, 202);
     border-radius: 2px;
     margin: 5px;
}

.btractors img {
     width: 60%;
}

.btractors a {
     color: rgb(49, 44, 44);
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-size: 1.8vw;
}

.btractors:hover {

     transform: scale(96.5%);
     box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.76);
     -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.76);
     -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.76);

}

/* tractor-by-brand-btn */
.tractors-by-brand-btn {
     color: white;
     width: 25vw;
     padding: 1.2vw;
     border: none;
     border-radius: 3px;
     margin-top: 15px;
     cursor: pointer;
     background-color: rgb(1, 59, 1);
     font-size: 1.3vw;
     font-weight: 600;
}

.tractors-by-brand-btn:hover {
     transform: scale(98%);
     border: 1px solid red;
}

/* tractors-by-hp */

.tractors-by-hp-container {
     width: 100vw;
     height: auto;
     padding: 30px 15px 15px 25px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.tractors-by-hp-container h1 {
     height: 1.5vw;
     padding-bottom: 5.2vw;
     margin-bottom: 4vw;
     font-size: 3.7vw;
     border-left: 0.5vw solid brown;
     border-right: 0.5vw solid brown;
}

.tractors-by-hp-btns {
     width: 85%;
     height: 98%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.tractors-by-hp-btn {

     width: 22vw;
     height: 5vw;
     padding: 10px;
     margin: 10px;
     border: 1px rgb(39, 37, 37) solid;
     border-radius: 3px;
     background-color: rgba(233, 240, 236, 0.863);
     color: black;
     font-size: 1.6vw;
     font-weight: 550;
     cursor: pointer;
}

.tractors-by-hp-btn:hover {
     transform: scale(98%);
     border: 1px solid rgb(6, 162, 102);
     color: rgb(0, 128, 68);
}


/* Tractor-comparison */

.tractor-comparison-container {
     width: 100vw;
     height: auto;
     padding: 30px 15px 15px 25px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.tractor-comparison-container h1 {
     height: 1.5vw;
     padding-bottom: 5.2vw;
     margin-bottom: 4vw;
     font-size: 3.7vw;
     border-left: 0.5vw solid brown;
     border-right: 0.5vw solid brown;
}

.tractor-comparison-container img {
     width: 90vw;
     height: 200px;
}


/* Tractor-Comparison-btn */
.comparison-btn {
     color: white;
     width: 25vw;
     padding: 1.2vw;
     border: none;
     border-radius: 3px;
     margin-top: 15px;
     cursor: pointer;
     background-color: rgb(1, 59, 1);
     font-size: 1.3vw;
     font-weight: 600;
}

.comparison-btn:hover {
     transform: scale(98%);
     border: 2px solid rgb(58, 49, 49);
}

/* Youtube Subscribe button */
.youtube-subscribe-section{

     width: 100vw;
     height: auto;
     background-color: rgb(251, 244, 244);
     border-top: 1px solid rgb(223, 215, 215);
     border-bottom: 1px solid rgb(223, 215, 215);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 15px 5px 30px 5px;
}
.youtube-subscribe-section img{

     width: 20vw;
}
.subscribe-button a{

     border: red solid 1px;
     padding: 10px 25px 10px 25px;
     color: red;
     font-size: 1.3vw;
     font-weight: 600;
     text-decoration: none;
}

.subscribe-button a:hover{

     border: white solid 1.5px;
     color: white;
     background-color: rgb(197, 30, 30);
     transform: scale(99.5%);
}

/* footer-section */
footer{

     width: 100vw;
     height: auto;
     background-color: rgb(135, 0, 27);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     justify-content: space-evenly;
     padding: 20px;
     color: white;
}
.quick-links{
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.contact-us{
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.quick-links h1{
     font-size: 20px;
}
.quick-links ul{
     list-style: none;
}

.contact-us h1{
     font-size: 20px;
     position: relative;
     right: 14%;
}
.contact-us ul{
 list-style: none;
}
.contact-us a{
     color: white;
     text-decoration: none;
}
.copyright-section{
     width: 100vw;
     height: auto;
     padding: 12px;
     border-top: 0.5px solid rgb(167, 154, 154) ;
     background-color:  rgb(135, 0, 27);
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.2vw;
}
.about-home{

     padding: 25px;
     font-size: 1.1vw;
     font-weight: 100;
}